.h-heatmap-preview
  height 250px

.h-heatmap-widget .s-panel-content
  margin 0

  .h-heatmap-controls
    margin 5px
    
  .h-heatmap-opacity-slider
    padding 0
    box-shadow none

  .h-heatmap-opacity-value
    border 1px solid #ccc
    border-radius 2px
    min-width 4em
    padding-left 0
    padding-right 0

  .h-upload-button-container
    padding-top 8px
    display flex
    justify-content space-between

  .h-upload-button
    border 1px solid #ccc
    border-radius 4px
    min-width 4em
    text-align center
    padding 6px 12px

  .h-heatmap-opacity-controls
    line-height 0
    display table-cell
    float left
    width 12px
    padding-left 4px

    button
      padding 0
      display inline-block
      font-size 8px

  .btn-group-justified .btn-group>.btn
    padding-left 0
    padding-right 0
